.btn{
    background-color: deeppink;
}
.btn1{
    background-color: indianred;
}
body{
    text-align: center;
}
canvas{
    animation-name:oneDirection;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes oneDirection{
    from{box-shadow: 1px 1px 38px rgb(255, 42, 205);}
    to{box-shadow: 1px 1px 38px rgb(253, 144, 204);}
}